@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-size: 18px;
  color: #394648;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E8E4 !important;
}

/* Headline */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #497C5B;
  font-weight: 700 !important;
}
/* Sub headings */
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px !important;
  font-weight: 400 !important;
  color: #394648;
}

/* Body titles */
h3 {
  font-family: 'Roboto', sans-serif;
  color: #497C5B;
}
/* Sub headings */
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px !important;
  font-weight: 400 !important;
  color: #394648;
}

/* Body titles */
h3 {
  font-family: 'Roboto', sans-serif;
  color: #497C5B;
}

.button {
  font-size: 24px !important;
  color: #FFFFFF !important;
  background-color: #39AA71 !important;
}


h4{
  font-family: 'Quicksand';
  color: #497C5B;
}

.button {
  font-size: 24px !important;
  color: #FFFFFF !important;
  background-color: #39AA71 !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* for Amplify Auth components */
  --amplify-primary-color: #39AA71;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
  --amplify-font-family: 'Roboto', sans-serif
}
