@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-size: 18px;
  color: #394648;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3E8E4 !important;
}

/* Headline */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #497C5B;
  font-weight: 700 !important;
}
/* Sub headings */
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px !important;
  font-weight: 400 !important;
  color: #394648;
}

/* Body titles */
h3 {
  font-family: 'Roboto', sans-serif;
  color: #497C5B;
}
/* Sub headings */
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px !important;
  font-weight: 400 !important;
  color: #394648;
}

/* Body titles */
h3 {
  font-family: 'Roboto', sans-serif;
  color: #497C5B;
}

.button {
  font-size: 24px !important;
  color: #FFFFFF !important;
  background-color: #39AA71 !important;
}


h4{
  font-family: 'Quicksand';
  color: #6EB257;
}

.button {
  font-size: 24px !important;
  color: #FFFFFF !important;
  background-color: #39AA71 !important;
}

.cardColor{
  background-color: #BDC5BC !important;
}

.cardSize{
  margin: 5px;
}

.deleteIcon{
  margin: 15px;
}


.btn-sm{
margin: 5px;
}


.modal {
  font-size: 10px; 
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  height:100%;
  padding: 10px 5px;
  color: red;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
